# 第五次课作业

（1）读取数据。读取之前作业保存的“酒店数据1.xlsx”

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('酒店数据1.xlsx')
df[:5]

,Unnamed: 0,Unnamed: 1,名字,类型,城市,地区,地点,评分,评分人数,价格
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,2,1.0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,3,2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,4,3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

（2）将“类型”和“名字”设置为层次化索引，并交换索引的位置。然后将层次化索引取消。

In [34]:
d1 = df.set_index(['类型','名字'])
d1.swaplevel('类型','名字')
d1.reset_index()
df.dropna(inplace = True)
df.drop('Unnamed: 1',axis=1)

KeyError: "['Unnamed: 1'] not found in axis"

In [38]:
d1.reset_index()
df

,名字,类型,城市,地区,地点,评分,评分人数,价格
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
...,...,...,...,...,...,...,...,...
408,香港捷舒旅(Just Hotel),地铁周边,香港,油尖旺,尖沙咀金巴利道27-33号永利大厦F座4楼,3.8,183.0,888.0
416,香港天天宾馆(TIN TIN GUEST HOUSE),地铁周边,香港,油尖旺,旺角弥敦道607号新兴大厦1517A,3.2,16.0,227.0
418,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0
419,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0
420,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.0,273.0,256.0

（3）将数据集转置，获取转制后的index和columns。

In [42]:
d2 = df.T
d2.index
d2.columns

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            383, 387, 388, 396, 403, 408, 416, 418, 419, 420],
           dtype='int64', length=318)

（4）用Groupby方法来计算每个地区的评分人数的总和以及均值。

In [44]:
grouped = df['评分'].groupby(df.地区)
grouped.sum()

地区
东区       62.8
中西区     150.1
九龙城      89.3
元朗        9.1
南区       17.3
屯门        9.2
沙田       18.3
油尖旺     716.3
深水埗区      4.3
湾仔      179.4
离岛       40.9
荃湾       31.1
葵青       16.8
观塘       27.3
Name: 评分, dtype: float64

In [45]:
grouped.mean()

地区
东区      4.485714
中西区     4.548485
九龙城     4.465000
元朗      4.550000
南区      4.325000
屯门      4.600000
沙田      4.575000
油尖旺     4.188889
深水埗区    4.300000
湾仔      4.375610
离岛      4.544444
荃湾      4.442857
葵青      4.200000
观塘      4.550000
Name: 评分, dtype: float64

（5）用Grouby方法计算每个类型的平均价格，最高价和最低价。

In [47]:
group1 = df['价格'].groupby(df.类型)
group1.mean()

类型
交通方便      421.000000
亲子酒店      745.400000
休闲度假     1127.774194
商务出行     1045.153846
地铁周边      387.282258
客栈        395.000000
干净卫生      185.000000
民宿        157.000000
浪漫情侣      614.000000
海滨风光     1543.573770
火车站周边     968.000000
环境不错      448.500000
老板热情      385.000000
酒店公寓     1182.000000
青年旅舍      189.250000
Name: 价格, dtype: float64

In [48]:
group1.max()

类型
交通方便       421.0
亲子酒店      1686.0
休闲度假      4443.0
商务出行      3159.0
地铁周边      2640.0
客栈         395.0
干净卫生       185.0
民宿         157.0
浪漫情侣      1908.0
海滨风光     12926.0
火车站周边      968.0
环境不错       484.0
老板热情       385.0
酒店公寓      2309.0
青年旅舍       348.0
Name: 价格, dtype: float64

In [49]:
group1.min()

类型
交通方便     421.0
亲子酒店     269.0
休闲度假     358.0
商务出行     401.0
地铁周边      67.0
客栈       395.0
干净卫生     185.0
民宿       157.0
浪漫情侣     225.0
海滨风光     331.0
火车站周边    968.0
环境不错     413.0
老板热情     385.0
酒店公寓     588.0
青年旅舍      70.0
Name: 价格, dtype: float64

（6）数据离散化，按照价格将酒店分为3个等级,0-500为C，500-1000为B,大于1000为A，列名设置为“价格等级”。

In [53]:
df['评分等级'] = pd.cut(df['价格'],[0,500,1000,1500],labels = ['C','B','A'],right = False)
df

,名字,类型,城市,地区,地点,评分,评分人数,价格,评分等级
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0,C
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0,B
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0,B
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0,B
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0,B
...,...,...,...,...,...,...,...,...,...
408,香港捷舒旅(Just Hotel),地铁周边,香港,油尖旺,尖沙咀金巴利道27-33号永利大厦F座4楼,3.8,183.0,888.0,B
416,香港天天宾馆(TIN TIN GUEST HOUSE),地铁周边,香港,油尖旺,旺角弥敦道607号新兴大厦1517A,3.2,16.0,227.0,C
418,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0,B
419,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0,B
420,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.0,273.0,256.0,C

（7）获取评分均值最高和最低的地区的数据，分别使用append和concat方法将获取的两个数据集合并。

（8）数据离散化，按照评分人数将酒店平均分为3个等级，三个等级的酒店数量尽量保持一致。评分人数最多的为A，最少的为C。列名设置为“热门等级”。

（9）选出评分人数为A，价格也为A的酒店数据，计算其平均评分。

（10）取价格最高的5个酒店的数据，使用stack和unstack方法实现dataframe和Series之间的转换。

（11）纵向拆分数据集，分为df1和df2，df1包含名字，类型，城市，地区，df2包含名字，地点，评分，评分人数，价格，价格等级，热门等级。

（12）将df2按照价格进行排序，重新设置df2的索引。索引值等于价格排名。

（13）使用merge方法将df1和df2合并。

（14）将合并后的数据集保存数据到“酒店数据2.xlsx”。