# 第四次课作业

（1）读取上次作业保存的数据，酒店数据1.xlsx

In [13]:
import pandas as pd
import numpy as np
df = pd.read_excel('酒店数据1.xlsx')
df.drop(columns=['Unnamed: 0','Unnamed: 1'],inplace=True)
df.index.name = '索引'
df

,名字,类型,城市,地区,地点,评分,评分人数,价格
索引,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
...,...,...,...,...,...,...,...,...
416,香港天天宾馆(TIN TIN GUEST HOUSE),地铁周边,香港,油尖旺,旺角弥敦道607号新兴大厦1517A,3.2,16.0,227.0
417,香港AMR宾馆(AMR Hostel),地铁周边,香港,NaN,尖沙咀弥敦道58号美丽都大厦6字楼A12室,NaN,NaN,977.0
418,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0
419,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0
420,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.0,273.0,256.0

（2）查看“评分”的格式，并分别进行升序和降序排序

In [20]:
df['评分'].dtype

dtype('float64')

In [24]:
df.sort_values(by = '评分',ascending = False)

,名字,类型,城市,地区,地点,评分,评分人数,价格
索引,,,,,,,,
212,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7.0,351.0
339,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10.0,395.0
90,奕居(The Upper House),海滨风光,香港,中西区,金钟道88号太古广场,4.8,1369.0,4356.0
203,香港风格时尚家庭旅馆(Feng Ge Shi Shang Hotel),地铁周边,香港,油尖旺,九龙尖沙咀弥敦道99-101号海防大厦10楼1005室,4.8,1375.0,307.0
84,香港半岛酒店(The Peninsula Hong Kong),海滨风光,香港,油尖旺,尖沙咀梳士巴利道,4.8,3693.0,3862.0
...,...,...,...,...,...,...,...,...
412,香港兰涛度假屋(Lantau Lodge),NaN,香港,荃湾,大屿山水口村47A号2楼,NaN,NaN,1035.0
413,香港航天星际酒店(Hotel Skystar),地铁周边,香港,NaN,尖沙咀弥敦道36-40号重庆大厦E座14楼E3室,NaN,3.0,172.0
414,香港HotelVenus(Hotel Venus),地铁周边,香港,油尖旺,尖沙咀弥敦道36-40号重庆大厦C座12楼C6室,NaN,2.0,172.0
415,香港金泉酒店,地铁周边,香港,NaN,香港旺角弥敦道607号新兴大厦1407室,NaN,16.0,245.0
417,香港AMR宾馆(AMR Hostel),地铁周边,香港,NaN,尖沙咀弥敦道58号美丽都大厦6字楼A12室,NaN,NaN,977.0

（3）对酒店按照价格进行排名，计算“油尖旺”地区的均价

In [31]:
df.sort_values(by = '价格')[:5]

,名字,类型,城市,地区,地点,评分,评分人数,价格
索引,,,,,,,,
283,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29.0,67.0
285,"巴黎旅馆(Paris Guest House (D2, 10/F))",NaN,香港,NaN,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0
376,香港日夜宾馆(Day and Night Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",3.3,63.0,68.0
194,香港加尔文青年旅舍(HK HOSTEL),青年旅舍,香港,油尖旺,佐敦道13-15号华丰大厦7楼A室,4.2,1480.0,70.0
328,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),NaN,香港,油尖旺,九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0

In [35]:
df[df['地区']=='油尖旺']['价格'].mean()

537.7263157894737

（4）对酒店数据进行描述性统计，并求所有价格的均值方差，最大最小值，中值。

In [36]:
df.describe()

               评分          评分人数            价格
count  371.000000    404.000000    413.000000
mean     4.283827   2483.262376    669.430993
std      0.508264   4539.495778    892.748395
min      1.500000      1.000000     67.000000
25%      4.200000     87.000000    245.000000
50%      4.400000    853.500000    412.000000
75%      4.600000   3247.000000    759.000000
max      4.900000  45463.000000  12926.000000

In [38]:
df['价格'].median()

412.0

In [39]:
df['价格'].var()

796999.6972895438

（5）计算评分和价格之间的的相关系数，协方差

In [40]:
df[['评分','价格']].corr()

          评分        价格
评分  1.000000  0.291171
价格  0.291171  1.000000

（6）按照评分降序排序，评分相同时按价格升序排序。

In [47]:
df.sort_values(by = ['评分','价格'],ascending=[False,True])

,名字,类型,城市,地区,地点,评分,评分人数,价格
索引,,,,,,,,
212,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7.0,351.0
339,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10.0,395.0
322,香港尊贵旅馆(Hong Kong Premium Guest House),NaN,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19.0,166.0
200,香港鸣人宾馆(Naruto Inn),地铁周边,香港,油尖旺,尖沙咀弥敦道83-97号华源大厦10F B4室,4.8,921.0,190.0
76,香港和平客栈(HK Peaceful Guesthouse),民宿,香港,NaN,尖沙咀弥敦道58号美丽都大厦13楼B1室于13楼C2室登记入住,4.8,511.0,264.0
...,...,...,...,...,...,...,...,...
412,香港兰涛度假屋(Lantau Lodge),NaN,香港,荃湾,大屿山水口村47A号2楼,NaN,NaN,1035.0
402,香港加勒比海宾馆(家庭旅馆)(Caribbean Sea Guest House),地铁周边,香港,油尖旺,弥敦道36号-44号重庆大厦C座5楼C1室,NaN,5.0,1520.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,香港君俊商务酒店(JJ Hotel),地铁周边,香港,NaN,湾仔道165-171号乐基中心9-12楼,NaN,2.0,NaN
401,香港水晶旅社(Crystal Hostel),地铁周边,香港,NaN,香港尖沙咀弥敦道36-44号重庆大厦E座11楼E4室 (於E座3楼登记入住,NaN,3.0,NaN

（7）计算一下，评分小于3分的酒店数量和占比。

In [50]:
len(df[df['评分']<3])

13

In [51]:
len(df[df['评分']<3])/len(df)

0.030878859857482184

（8）计算一下，酒店评分大于等于4分的酒店的价格均值。

In [52]:
df[df['评分']>=4].价格.mean()

786.9482200647249

（9）计算出每个地区的酒店占总酒店数量的比例。

In [82]:
df.dropna(subset=['地区'],inplace = True)
df['地区'].unique()

array(['元朗', '东区', '油尖旺', '湾仔', '观塘', '中西区', '南区', '离岛', '九龙城', '荃湾',
       '屯门', '葵青', '沙田', '深水埗区', '罗湖区'], dtype=object)

In [89]:
loc1 = df['地区'].unique()
type(loc1)  ##不会

numpy.ndarray

（10）找出酒店评分人数排名前20的酒店，并计算他们的价格均值。

In [69]:
df.sort_values(['评分人数'],ascending=False)[:20]

,名字,类型,城市,地区,地点,评分,评分人数,价格
索引,,,,,,,,
419,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45463.0,709.0
418,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.5,45462.0,709.0
83,香港皇家太平洋酒店(The Royal Pacific Hotel and Towers),海滨风光,香港,油尖旺,尖沙嘴 广东道33号,4.6,20974.0,1115.0
92,香港丽豪酒店(Regal Riverside Hotel),休闲度假,香港,沙田,沙田 大涌桥路34-36号,4.4,18514.0,569.0
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
109,迪士尼好莱坞酒店(Disney‘s Hollywood Hotel),海滨风光,香港,离岛,大屿山香港迪士尼乐园度假区,4.7,16186.0,1265.0
106,香港富豪机场酒店(Regal Airport Hotel Meeting & Confere...,休闲度假,香港,离岛,"赤腊角 香港机场畅达路9号(9 Cheong Tat Road,HK Internation...",4.5,15617.0,1667.0
87,香港九龙酒店(The Kowloon Hotel),海滨风光,香港,油尖旺,尖沙嘴弥敦道19-21号,4.5,15384.0,759.0
13,香港都会海逸酒店(Harbour Plaza Metropolis),海滨风光,香港,油尖旺,红磡 都会道7号,4.5,14872.0,562.0
82,马哥孛罗香港酒店(Marco Polo Hongkong Hotel),海滨风光,香港,油尖旺,九龙尖沙咀广东道3号海港城,4.6,14428.0,1760.0
19,香港悦来酒店(Panda Hotel),休闲度假,香港,荃湾,荃湾 荃华街3号,4.5,13694.0,358.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
139,香港龙堡国际(B P International),海滨风光,香港,油尖旺,尖沙咀柯士甸道8号,4.5,12173.0,1278.0
128,香港帝都酒店(Royal Park Hotel),休闲度假,香港,沙田,沙田 白鹤汀街8号,4.6,11733.0,1052.0
9,香港富豪九龙酒店(Regal Kowloon Hotel),休闲度假,香港,油尖旺,尖沙嘴麽地道71号,4.5,11265.0,692.0
15,香港朗廷酒店(The Langham Hong Kong),休闲度假,香港,油尖旺,尖沙嘴北京道8号,4.7,11039.0,1899.0
96,香港港威酒店-马哥孛罗(Gateway Hotel Marco Polo),休闲度假,香港,油尖旺,尖沙嘴 广东道13号海港城,4.7,10218.0,1988.0
93,富豪香港酒店(Regal Hongkong Hotel),休闲度假,香港,湾仔,香港铜锣湾 怡和街88号,4.5,10209.0,968.0
112,香港太子酒店-马哥孛罗(Prince Hotel Marco Polo),海滨风光,香港,油尖旺,九龙 尖沙嘴广东道23号海港城,4.7,9948.0,3068.0
121,香港如心铜锣湾海景酒店(L‘hotel Causeway Bay Harbour View ...,海滨风光,香港,东区,铜锣湾 英皇道18号,4.6,9712.0,678.0

（11）查看酒店分布的类型数量和地区数量，并统计各个类型和地区包含的酒店数量。

In [77]:
table = df.sort_values(['评分人数'],ascending=False)[:20]
table['价格'].mean()

1110.55

（12）用数据透视表，计算每个类型的酒店的评分人数总数量。

In [71]:
pd.pivot_table(df,index=['类型'],values=['评分人数'],aggfunc={'评分人数':np.sum})

           评分人数
类型
交通方便      152.0
亲子酒店    11492.0
休闲度假   237261.0
印象好        68.0
商务出行     9697.0
地铁周边    91525.0
大学周边       23.0
客栈        229.0
干净卫生      146.0
民宿       2493.0
浪漫情侣   244154.0
海滨风光   394600.0
火车站周边     578.0
环境不错     1327.0
老板热情       48.0
酒店公寓     1967.0
青年旅舍     2605.0

（13）用数据透视表，计算每个类型的酒店价格的均值和标准差

In [72]:
pd.pivot_table(df,index=['类型'],values=['价格'],aggfunc=[np.mean,np.std])

              mean          std
                价格           价格
类型
交通方便    421.000000          NaN
亲子酒店    745.400000   546.616227
休闲度假   1127.774194   827.492707
印象好     297.000000          NaN
商务出行   1045.153846   870.595663
地铁周边    378.937853   378.430208
大学周边    325.000000          NaN
客栈      372.750000   135.268560
干净卫生    185.000000          NaN
民宿      258.500000   127.000394
浪漫情侣    608.573529   303.356119
海滨风光   1543.573770  1746.828349
火车站周边   968.000000          NaN
环境不错    357.666667   161.283394
老板热情    385.000000          NaN
酒店公寓   1182.000000   697.624899
青年旅舍    189.250000   116.851401

（14）用数据透视表，计算每个地区酒店价格和评分的最大值和最小值

In [73]:
pd.pivot_table(df,index=['地区'],values=['价格','评分'],aggfunc={'价格':np.max,'评分':np.min})

           价格   评分
地区
东区     1908.0  4.2
中西区   12926.0  3.8
九龙城    1742.0  3.7
元朗      425.0  4.5
南区      553.0  3.8
屯门      696.0  4.5
沙田     1052.0  4.4
油尖旺    3862.0  1.5
深水埗区    648.0  4.3
湾仔     2856.0  3.4
离岛     1667.0  2.9
罗湖区     506.0  NaN
荃湾     1035.0  4.3
葵青      423.0  3.4
观塘     1132.0  4.2

（15）用数据透视表，计算每个地区和类型的酒店的评分的均值和标准差

In [74]:
pd.pivot_table(df,index=['地区','类型'],values=['评分'],aggfunc=[np.mean,np.std])

                mean       std
                  评分        评分
地区   类型
东区   商务出行   4.500000  0.000000
     浪漫情侣   4.425000  0.150000
     海滨风光   4.512500  0.155265
中西区  亲子酒店   4.600000       NaN
     休闲度假   4.650000  0.212132
     商务出行   4.550000  0.104881
     地铁周边   4.400000  0.339116
     浪漫情侣   4.325000  0.236291
     海滨风光   4.664286  0.108182
     酒店公寓   4.450000  0.212132
九龙城  亲子酒店   4.100000       NaN
     休闲度假   4.480000  0.130384
     地铁周边   4.516667  0.231661
     浪漫情侣   4.350000  0.251661
     海滨风光   4.700000  0.000000
     环境不错   4.200000       NaN
元朗   休闲度假   4.600000       NaN
     浪漫情侣   4.500000       NaN
南区   休闲度假   4.400000       NaN
     干净卫生   4.300000       NaN
     浪漫情侣   4.300000  0.141421
屯门   浪漫情侣   4.500000       NaN
     海滨风光   4.700000       NaN
沙田   休闲度假   4.533333  0.115470
     海滨风光   4.700000       NaN
油尖旺  交通方便   4.600000       NaN
     亲子酒店   4.600000  0.000000
     休闲度假   4.633333  0.086603
     商务出行   4.400000  0.424264
     地铁周边   3.974757  0.639963
     客栈     4.900000       NaN
     浪漫情侣   4.403448  0.163626
     海滨风光   4.638889  0.091644
     火车站周边  4.600000       NaN
     酒店公寓   4.250000  0.212132
     青年旅舍   4.375000  0.330404
深水埗区 地铁周边   4.300000       NaN
湾仔   亲子酒店   4.400000       NaN
     休闲度假   4.560000  0.114018
     商务出行   4.500000  0.115470
     地铁周边   4.077778  0.432371
     民宿     3.700000       NaN
     浪漫情侣   4.446667  0.135576
     海滨风光   4.600000  0.141421
     老板热情   4.400000       NaN
     酒店公寓   4.300000       NaN
离岛   休闲度假   4.400000  0.141421
     海滨风光   4.616667  0.213698
     环境不错   4.400000       NaN
荃湾   休闲度假   4.500000       NaN
     浪漫情侣   4.350000  0.070711
     海滨风光   4.475000  0.050000
葵青   浪漫情侣   4.200000  0.230940
观塘   休闲度假   4.600000  0.000000
     浪漫情侣   4.550000  0.070711
     海滨风光   4.500000  0.141421